
# options the .htaccess files in directories can override.
	# Edit apache/conf/httpd.conf to AllowOverride in .htaccess
	# AllowOverride AuthConfig

# Stop the directory list from being shown
  Options -Indexes

# Controls who can get stuff from this server.
  Order Deny,Allow
  Deny from all
  Allow from localhost

